<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Matching socks</key>
	<dict>
		<key>label</key>
		<string>Matching socks</string>
		<key>description</key>
		<string>The socks you provided are matching</string>
	</dict>
	<key>Not matching socks</key>
	<dict>
		<key>label</key>
		<string>Not matching socks</string>
		<key>description</key>
		<string>The socks you provided are not matching</string>
	</dict>
</dict>
</plist>
